@model ThanTai.Models.DatHang

@{
    ViewData["Title"] = "Xóa đơn hàng";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />

            <div class="alert alert-danger" role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i> Bạn có muốn xóa đơn hàng của <strong>@Model.TenNguoiDat</strong> không?
            </div>

            <dl class="row">
                <dt class="col-sm-3">Tên người đặt:</dt>
                <dd class="col-sm-9">@Model.TenNguoiDat</dd>

                <dt class="col-sm-3">Điện thoại:</dt>
                <dd class="col-sm-9">@Model.DienThoaiNguoiDat</dd>

                <dt class="col-sm-3">Địa chỉ giao hàng:</dt>
                <dd class="col-sm-9">@Model.DiaChiGiaoHang</dd>

                <dt class="col-sm-3">Ngày đặt hàng:</dt>
                <dd class="col-sm-9">@Model.NgayDatHang.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Tình trạng thanh toán:</dt>
                <dd class="col-sm-9">
                    @(Model.TinhTrangThanhToan == 1 ? "Đã thanh toán" : "Chưa thanh toán")
                </dd>


                <dt class="col-sm-3">Người dùng:</dt>
                <dd class="col-sm-9">@Model.NguoiDung.DiaChi</dd>

                <dt class="col-sm-3">Tình trạng đơn hàng:</dt>
                <dd class="col-sm-9">@Model.TinhTrang.MoTa</dd>
            </dl>

            <div class="mb-0">
                <button type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-circle-check"></i> Xác nhận xóa
                </button>
                hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>
